[Interface]
Address = {{ wireguard_interface.address }}
{% if wireguard_interface.dns is defined %}
DNS = {{ wireguard_interface.dns | join(', ') }}
{% endif %}
{% if wireguard_interface.listen_port is defined %}
ListenPort = {{ wireguard_interface.listen_port }}
{% endif %}
{% if wireguard_interface.post_up is defined %}
{% for command in wireguard_interface.post_up %}
PostUp = {{ command }}
{% endfor %}
{% endif %}
{% if wireguard_interface.post_down is defined %}
{% for command in wireguard_interface.post_down %}
PostDown = {{ command }}
{% endfor %}
{% endif %}
{% for peer in wireguard_peers %}

{% if 'name' in peer %}
# {{ peer.name }}
{% endif %}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ips }}
{% if peer.endpoint is defined %}
Endpoint = {{ peer.endpoint }}
{% endif %}
{% if peer.keep_alive is defined %}
PersistentKeepalive = {{ peer.keep_alive }}
{% endif %}
{% endfor %}
